<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css" data-inprogress="">

</head>

<body class="body" id="body">
    <div class="wrapper">
        <main class="main">
            <ul class="nav" style="padding: 20px;">
                <li style="margin: 10px;">--------</li>
                <li><a href="404.html">404</a></li>
                <li><a href="index.html">Главная</a></li>
                <li><a href="catalog.html">Каталог</a></li>
                <li><a href="category.html">Каталог категория</a></li>
                <li><a href="portfolio.html">Наши работы</a></li>
                <li><a href="search.html">Результаты поиска</a></li>
                <li><a href="card-catalog.html">Наружная реклама</a></li>
                <li><a href="about.html">О компании</a></li>
                <li><a href="contacts.html">Контакты</a></li>
                <li><a href="information-page.html">Информационная страница</a></li>
                <li><a href="news.html">Новости</a></li>
                <li><a href="news-page.html">Новость одна</a></li>
                <li><a href="works.html">Наши работы</a></li>
                <li><a href="card-product.html">Карточка товара</a></li>
                <li><a href="personal-area.html">Личный Кабинет</a></li>
                <li><a href="basket.html">Корзина</a></li>
                <li><a href="checkout.html">Оформление заказа</a></li>
            </ul>
        </main>
    </div>
</body>

</html>