<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link rel="stylesheet" href="../css/search.css" data-inprogress="">

</head>

<body class="body" id="body">
    <div class="wrapper">
        <div class="modall-registration">
            <div class="modall-body">
                <span class="close"></span>
                <div class="form-tabs">
                    <div class="tabs-link">
                        <a href="javascript:void(0);" id="link-one" class="active">Регистрация</a>
                        <a href="javascript:void(0);" id="link-two">Вход</a>
                    </div>
                    <form class="form active" data-id='link-one'>
                        <div class="form-group">
                            <div class="form-radio">
                                <input type="radio" name="radio-popup" checked id="radio-popup">
                                <label for="radio-popup">Физическое лицо</label>
                            </div>
                            <div class="form-radio">
                                <input type="radio" name="radio-popup" id="radio-popup2">
                                <label for="radio-popup2">Юридическое лицо</label>
                            </div>
                        </div>
                        <div class="group-one active">
                            <div class="form-row">
                                <div class="form-column">
                                    <input type="text" placeholder="Имя">
                                    <label></label>
                                </div>
                                <div class="form-column">
                                    <input type="text" placeholder="Номер телефона">
                                    <label></label>
                                </div>
                                <div class="form-column">
                                    <input type="text" placeholder="Электронная почта">
                                    <label></label>
                                </div>
                                <div class="form-column password">
                                    <input required type='password' id='test-input' placeholder="Пароль, не менее 6 
                                                            символов" />
                                    <input type='checkbox' id='check' class="check" />
                                    <label></label>
                                    <label class="eye"></label>
                                </div>
                            </div>
                            <div class="form-action">
                                <button type="button" class="btn-call modall-active">зарегистрироваться</button>
                            </div>
                            <span class="description">Регистрируясь, вы соглашаетесь с
                        <a href="#">
                            пользовательским соглашением
                        </a>
                    </span>
                            <span class="and">или</span>
                            <p>
                                Войти через аккаунт:
                            </p>
                            <div class="links">
                                <a href="#" class="facebok" style="background-image: url(../img/facebok.png);"></a>
                                <a href="#" class="google" style="background-image: url(../img/google.png);"></a>
                            </div>
                            <span class="log-in">У вас уже есть аккаунт?<a href="#">Войти</a></span>
                        </div>
                        <div class="group-two">
                            <div class="form-row">
                                <div class="form-column">
                                    <input type="text" placeholder="Имя">
                                    <label></label>
                                </div>
                                <div class="form-column">
                                    <input type="text" placeholder="Название компании">
                                    <label></label>
                                </div>
                                <div class="form-column">
                                    <input type="text" placeholder="Номер телефона">
                                    <label></label>
                                </div>
                                <div class="form-column">
                                    <input type="text" placeholder="Электронная почта">
                                    <label></label>
                                </div>
                                <div class="form-column">
                                    <input type="text" placeholder="Код ОКПО">
                                    <label></label>
                                </div>
                                <div class="form-column password">
                                    <input required type='password' id='test-input' placeholder="Пароль, не менее 6 
                                                            символов" />
                                    <input type='checkbox' id='check-1' class="check" />
                                    <label></label>
                                    <label class="eye"></label>
                                </div>
                            </div>
                            <div class="form-action">
                                <button class="btn-call modall-active">зарегистрироваться</button>
                            </div>
                            <span class="description">Регистрируясь, вы соглашаетесь с
                        <a href="politic">
                            пользовательским соглашением
                        </a>
                    </span>
                            <span class="log-in">У вас уже есть аккаунт?<a href="#">Войти</a></span>
                        </div>
                    </form>

                    <form class="form" data-id='link-two'>
                        <div class="form-row">
                            <div class="form-column">
                                <input type="text" placeholder="Номер телефона/e-mail">
                                <label></label>
                            </div>
                            <div class="form-column password">
                                <input required type='password' id='test-input' placeholder="Пароль, не менее 6 
                                                    символов" />
                                <input type='checkbox' id='check3' class="check" />
                                <label></label>
                                <label class="eye"></label>
                            </div>
                        </div>
                        <div class="link-help">
                            <a href="#">Забыли пароль? </a>
                            <a href="#">Восстановить</a>
                        </div>
                        <div class="form-action">
                            <button type="button" class="btn-call modall-active">зарегистрироваться</button>
                        </div>
                        <span class="and">или</span>
                        <p>
                            Войти через аккаунт:
                        </p>
                        <div class="links">
                            <a href="#" class="facebok" style="background-image: url(../img/facebok.png);"></a>
                            <a href="#" class="google" style="background-image: url(../img/google.png);"></a>
                        </div>
                        <span class="description">Нет учетной записи?
                    <a href="#">Зарегистрироваться</a></span>
                    </form>
                </div>
            </div>
        </div>
        <div class="modall-call">
            <div class="modall-body">
                <span class="close"></span>
                <span class="title">Заказать звонок </span>
                <form class="form ">
                    <div class="form-row">
                        <div class="form-column">
                            <input type="text" placeholder="Ваше имя">
                            <label></label>
                        </div>
                        <div class="form-column">
                            <input type="text" placeholder="Номер телефона">
                            <label></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" checked="" id="checkbox-1">
                        <label for="checkbox-1">
                    Принимаю условия <a href='#' class="politic">обработки данных</a>
                </label>
                    </div>
                    <div class="form-action">
                        <button type="button" class="btn-call ok">Отправить заявку</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modall">
            <div class="modall-body">
                <span class="close"></span>
                <h2>Спасибо за заявку!</h2>
                <p>Наш менеджер свяжется с Вами в ближайшее время.</p>
            </div>
        </div>
        <div class="modall-ok">
            <div class="modall-body">
                <span class="close"></span>
                <h2>Ваша регистрация прошла успешно</h2>
                <p>На Ваш email придет письмо с подтверждением.</p>
            </div>
        </div>
        <div class="politics-modall">
            <div class="politics-content">
                <span class="close"></span>
                <h2>Политика договора-оферты</h2>
                <div class="politics-body mCustomScrollbar">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    </p>
                    <h3>Quis ipsum suspendisse</h3>
                    <ul>
                        <li>
                            <p> Quis ipsum suspendisse </p>
                        </li>
                        <li>
                            <p> Quis ipsum suspendisse </p>
                        </li>
                        <li>
                            <p> Quis ipsum suspendisse </p>
                        </li>
                    </ul>
                    <h3>Quis ipsum suspendisse</h3>
                    <ol type="1">
                        <li>
                            <p> Quis ipsum suspendisse </p>
                        </li>
                        <li>
                            <p> Quis ipsum suspendisse </p>
                        </li>
                        <li>
                            <p> Quis ipsum suspendisse </p>
                        </li>
                    </ol>
                    <ol type="1">
                        <li>
                            <p> Quis ipsum suspendisse </p>
                        </li>
                        <li>
                            <p> Quis ipsum suspendisse </p>
                        </li>
                        <li>
                            <p> Quis ipsum suspendisse </p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <main class="main">

            <aside class="aside mCustomScrollbar">
                <div class="list-link">
                    <span class="open-menu">
            <i class="icon-menu"></i>
        </span>
                    <a href="#">
            <img src="../img/logo.png" alt="logo">
        </a>
                    <ul>
                        <li>
                            <a href="#">Главная</a>
                        </li>
                        <li class="dropdown">
                            <span class="dropdown-nav">Каталог</span>
                            <ul>
                                <li>
                                    <a href="catalog.html">Все</a>
                                </li>
                                <li>
                                    <a href="card-catalog.html">Наружная реклама</a>
                                </li>
                                <li>
                                    <a href="card-catalog.html">Внутренняя реклама</a>
                                </li>
                                <li>
                                    <a href="card-catalog.html">Широкоформатная печать</a>
                                </li>
                                <li>
                                    <a href="category.html">Рекламно-сувенирная
                            продукция</a>
                                </li>
                                <li>
                                    <a href="card-catalog.html">Разработка дизайна</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="works.html">Наши работы</a>
                        </li>
                        <li>
                            <a href="about.html">О компании</a>
                        </li>
                        <li>
                            <a href="news.html">Новости</a>
                        </li>
                        <li>
                            <a href="#">Доставка и установка</a>
                        </li>
                        <li>
                            <a href="contacts.html">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="aside-footer">
                    <a href="tel:+380991234567" class="telephone">+38 099 123 45 67 </a>
                    <a href="javascript:void(0);" class="btn-call call inverse">заказать звонок</a>
                    <div class="social">
                        <a href="javascript:void(0);" target="_blank"><i class="icon-instagram"></i></a>
                        <a href="javascript:void(0);" target="_blank"><i class="icon-facebook"></i></a>
                        <a href="javascript:void(0);" target="_blank"><i class="icon-vk"></i></a>
                    </div>
                </div>
            </aside>

            <div class="container">

                <header class="header">
                    <span class="open-menu">
            <i class="icon-menu"></i>
        </span>
                    <div class="menu">
                        <div class="search">
                            <i class="icon-search iSearch"></i>
                            <form class="form">
                                <div class="form-input" id="headerSearch">
                                    <button><i class="icon-search"></i></button>
                                    <input name="search" class="search-query" type="text" placeholder="поиск">
                                </div>
                            </form>
                        </div>
                        <a href="javascript:void(0);" class="cabinet registration"><i class="icon-avatar"></i>Личный кабинет</a>
                        <a href="basket.html" class="basket"><i class="icon-shopping-basket"></i><span>2</span></a>
                    </div>
                </header>

                <div class="bread-crumbs">
                    <ul>
                        <li><a href="index.html">Главная</a></li>
                        <li><span>Поиск</span></li>
                        <li><span>Название товара</span></li>
                    </ul>
                </div>
                <section class="section section-categories">
                    <div class="heading">
                        <h2>Результаты поиска</h2>
                    </div>
                    <div class="list list-categories">
                        <div class="list-item">
                            <div class="item-image" style="background-image: url(../img/search.jpg);">
                                <div class="overlay">
                                    <a href="#" class="btn-inverse">перейти</a>
                                </div>
                            </div>
                            <a href="#" class="description">Название услуги
                                в одну или
                                две строчки</a>
                            <span>UAN 1200</span>
                        </div>
                        <div class="list-item">
                            <div class="item-image" style="background-image: url(../img/search-2.jpg);">
                                <div class="overlay">
                                    <a href="#" class="btn-inverse">перейти</a>
                                </div>
                            </div>
                            <a href="#" class="description">Название услуги
                                в одну или
                                две строчки</a>
                            <span>UAN 1200</span>
                        </div>
                        <div class="list-item">
                            <div class="item-image" style="background-image: url(../img/search-3.jpg);">
                                <div class="overlay">
                                    <a href="#" class="btn-inverse">перейти</a>
                                </div>
                            </div>
                            <a href="#" class="description">Название услуги
                                в одну или
                                две строчки</a>
                            <span>UAN 1200</span>
                        </div>
                        <div class="list-item">
                            <div class="item-image" style="background-image: url(../img/search-4.jpg);">
                                <div class="overlay">
                                    <a href="#" class="btn-inverse">перейти</a>
                                </div>
                            </div>
                            <a href="#" class="description">Название услуги
                                в одну или
                                две строчки</a>
                            <span>UAN 1200</span>
                        </div>
                        <div class="list-item">
                            <div class="item-image" style="background-image: url(../img/search-3.jpg);">
                                <div class="overlay">
                                    <a href="#" class="btn-inverse">перейти</a>
                                </div>
                            </div>
                            <a href="#" class="description">Название услуги
                                в одну или
                                две строчки</a>
                            <span>UAN 1200</span>
                        </div>
                        <div class="list-item">
                            <div class="item-image" style="background-image: url(../img/search-4.jpg);">
                                <div class="overlay">
                                    <a href="#" class="btn-inverse">перейти</a>
                                </div>
                            </div>
                            <a href="#" class="description">Название услуги
                                в одну или
                                две строчки</a>
                            <span>UAN 1200</span>
                        </div>
                        <div class="list-item">
                            <div class="item-image" style="background-image: url(../img/search-2.jpg);">
                                <div class="overlay">
                                    <a href="#" class="btn-inverse">перейти</a>
                                </div>
                            </div>
                            <a href="#" class="description">Название услуги
                                в одну или
                                две строчки</a>
                            <span>UAN 1200</span>
                        </div>
                        <div class="list-item">
                            <div class="item-image" style="background-image: url(../img/search.jpg);">
                                <div class="overlay">
                                    <a href="#" class="btn-inverse">перейти</a>
                                </div>
                            </div>
                            <a href="#" class="description">Название услуги
                                в одну или
                                две строчки</a>
                            <span>UAN 1200</span>
                        </div>
                        <div class="list-item">
                            <div class="item-image" style="background-image: url(../img/search.jpg);">
                                <div class="overlay">
                                    <a href="#" class="btn-inverse">перейти</a>
                                </div>
                            </div>
                            <a href="#" class="description">Название услуги
                                в одну или
                                две строчки</a>
                            <span>UAN 1200</span>
                        </div>
                        <div class="list-item">
                            <div class="item-image" style="background-image: url(../img/search-2.jpg);">
                                <div class="overlay">
                                    <a href="#" class="btn-inverse">перейти</a>
                                </div>
                            </div>
                            <a href="#" class="description">Название услуги
                                в одну или
                                две строчки</a>
                            <span>UAN 1200</span>
                        </div>
                        <div class="list-item">
                            <div class="item-image" style="background-image: url(../img/search-3.jpg);">
                                <div class="overlay">
                                    <a href="#" class="btn-inverse">перейти</a>
                                </div>
                            </div>
                            <a href="#" class="description">Название услуги
                                в одну или
                                две строчки</a>
                            <span>UAN 1200</span>
                        </div>
                        <div class="list-item">
                            <div class="item-image" style="background-image: url(../img/search-4.jpg);">
                                <div class="overlay">
                                    <a href="#" class="btn-inverse">перейти</a>
                                </div>
                            </div>
                            <a href="#" class="description">Название услуги
                                в одну или
                                две строчки</a>
                            <span>UAN 1200</span>
                        </div>
                    </div>
                    <button>показать еще<i class="icon-reload"></i></button>
                </section>
            </div>

            <footer class="footer">
                <a href="javascript:void(0);" class="politic">Политика обработки данных</a>
                <p>Дизайн разработан <a href="javascript:void(0);">PlemyaStudio</a></p>
            </footer>

        </main>
    </div>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/jcf.select.min.js"></script>
    <script src="../js/jcf.radio.min.js"></script>
    <script src="../js/main.min.js"></script>


</html>