<aside class="aside mCustomScrollbar">
    <div class="list-link">
        <span class="open-menu">
            <i class="icon-menu"></i>
        </span>
        <a href="#">
            <img src="../img/logo.png" alt="logo">
        </a>
        <ul>
            <li>
                <a href="#">Главная</a>
            </li>
            <li class="dropdown">
                <span class="dropdown-nav">Каталог</span>
                <ul>
                    <li>
                        <a href="catalog.html">Все</a>
                    </li>
                    <li>
                        <a href="card-catalog.html">Наружная реклама</a>
                    </li>
                    <li>
                        <a href="card-catalog.html">Внутренняя реклама</a>
                    </li>
                    <li>
                        <a href="card-catalog.html">Широкоформатная печать</a>
                    </li>
                    <li>
                        <a href="category.html">Рекламно-сувенирная
                            продукция</a>
                    </li>
                    <li>
                        <a href="card-catalog.html">Разработка дизайна</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="works.html">Наши работы</a>
            </li>
            <li>
                <a href="about.html">О компании</a>
            </li>
            <li>
                <a href="news.html">Новости</a>
            </li>
            <li>
                <a href="#">Доставка и установка</a>
            </li>
            <li>
                <a href="contacts.html">Контакты</a>
            </li>
        </ul>
    </div>
    <div class="aside-footer">
        <a href="tel:+380991234567" class="telephone">+38 099 123 45 67 </a>
        <a href="javascript:void(0);" class="btn-call call inverse">заказать звонок</a>
        <div class="social">
            <a href="javascript:void(0);" target="_blank"><i class="icon-instagram"></i></a>
            <a href="javascript:void(0);" target="_blank"><i class="icon-facebook"></i></a>
            <a href="javascript:void(0);" target="_blank"><i class="icon-vk"></i></a>
        </div>
    </div>
</aside>