<header class="header">
        <span class="open-menu">
            <i class="icon-menu"></i>
        </span>
        <div class="menu">
                <div class="search">
                    <i class="icon-search iSearch"></i>
                    <form class="form">
                        <div class="form-input" id="headerSearch">
                            <button><i class="icon-search"></i></button>
                            <input name="search" class="search-query" type="text" placeholder="поиск">
                        </div>
                    </form>
                </div>
                <a href="javascript:void(0);" class="cabinet registration"><i class="icon-avatar"></i>Личный кабинет</a>
                <a href="basket.html" class="basket"><i class="icon-shopping-basket"></i><span>2</span></a>
        </div>
</header>