
.icon-check:before { content: '\e800'; } /* '' */
.icon-contract:before { content: '\e801'; } /* '' */
.icon-delivery-truck:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-filter:before { content: '\e804'; } /* '' */
.icon-instagram:before { content: '\e805'; } /* '' */
.icon-list:before { content: '\e806'; } /* '' */
.icon-phone-call:before { content: '\e807'; } /* '' */
.icon-placeholder:before { content: '\e808'; } /* '' */
.icon-printer:before { content: '\e809'; } /* '' */
.icon-profit:before { content: '\e80a'; } /* '' */
.icon-sale:before { content: '\e80b'; } /* '' */
.icon-shopping-basket:before { content: '\e80c'; } /* '' */
.icon-telephone:before { content: '\e80d'; } /* '' */
.icon-tile:before { content: '\e80e'; } /* '' */
.icon-timetable:before { content: '\e80f'; } /* '' */
.icon-vk:before { content: '\e810'; } /* '' */
.icon-placeholder-2:before { content: '\e811'; } /* '' */
.icon-user:before { content: '\e812'; } /* '' */
.icon-arrow-down:before { content: '\e813'; } /* '' */
.icon-avatar:before { content: '\e814'; } /* '' */
.icon-refresh:before { content: '\e815'; } /* '' */
.icon-back:before { content: '\e816'; } /* '' */
.icon-menu:before { content: '\e817'; } /* '' */
.icon-reload:before { content: '\e818'; } /* '' */
.icon-search:before { content: '\e819'; } /* '' */
.icon-support:before { content: '\e81a'; } /* '' */
.icon-arrow:before { content: '\e81b'; } /* '' */
.icon-budget:before { content: '\e81c'; } /* '' */
.icon-left-open-big:before { content: '\e81d'; } /* '' */
.icon-right-open-big:before { content: '\e81e'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */